.addPost{
    text-align: right;
}
.postText{
    border: 1px solid darkgray;
    width: 100%;
    resize: none;
    height: 23px;
    transition: .3s;
    box-sizing: border-box;
}
.height{
    height: 100px;
}
.postButton{
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    background: white;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 3px;
}
.postButton:hover{
    background: cornflowerblue;
    color: white;
}