.sidebar{
    display: block;
    grid-area: sidebar;
    background: royalblue;
    border-radius: 10px;
}
.navMenu{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: right;

}
.navMenu a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid transparent;
}
.navMenu a:hover{
    border-color: white;
}
.navMenu:hover a:not(:hover){
    opacity: 0.8;
}
.navMenu a:last-child{
    margin-top: 30px;
}