.menuItem{
    display: inline-block;
    position: relative;
}
.tooltip{
    position: absolute;
    top: 35px;
    width: 100px;
    background: cornflowerblue;
    border-top: 1px solid white;
    overflow: hidden;
    /*animation: tooltip .3s;*/
}
.tooltip a{
    display: block;
}

@keyframes tooltip {
    from {height: 0;}
    to {height: 120px}
}